{% extends "base.html" %}
{% load static %}
{% load trolley_tools %}

{% block page_header %}
<!-- This is needed to push the content down
    under the navigation bar  -->
<div class="container top-head-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Shopping trolley container -->
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <!-- Shopping trolley heading with horizontal rule -->
            <h2 class="custom-font-head fw-bold text-uppercase text-spacing mt-5 my-lg-4">Shopping Trolley</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <!-- Django if to check for items in the trolley -->
            {% if trolley_items %}
            <!-- Trolley responsive divs for smaller screen devices -->
            <div class="d-block d-md-none">
                <!-- Flush Accordion from bootstrap for shopping trolley summary -->
                <div class="accordion mb-3" id="trolleySummary">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-trolley-summary">
                            <!-- Clickable button to show the trolley summary -->
                            <button class="accordion-button collapsed py-1" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSummary" aria-expanded="false"
                                aria-controls="flush-collapseSummary">
                                <!-- Button text -->
                                <p class="text-muted fs-5 mt-3 mx-auto ps-2 text-capitalize text-center">Your shopping trolley
                                    summary</p>
                            </button>
                        </h2>
                        <div id="flush-collapseSummary" class="accordion-collapse collapse"
                            aria-labelledby="flush-trolley-summary" data-bs-parent="#trolleySummary">
                            <!-- Flush accordion body containing the main content of the for loop -->
                            <div class="accordion-body">
                                {% for item in trolley_items %}
                                <div class="row">
                                    <!-- Product image include -->
                                    <div class="col-10 offset-1 mb-3">
                                        {% include "trolley/includes/product-image.html" %}
                                    </div>
                                    <!-- Product info which include, product name, size and SKU include -->
                                    <div class="col-12 mb-2">
                                        {% include "trolley/includes/product-info.html" %}
                                    </div>
                                    <!-- Product price, trolley quantity and trolley subtotal -->
                                    <div class="col-12">
                                        <p class="my-0"><strong>Price:</strong> £{{ item.product.product_price }}</p>
                                        <p class="my-0"><strong>Trolley Qty:</strong> {{ item.quantity }}</p>
                                        <p><strong>Trolley Subtotal:</strong>
                                            £{{ item.product.product_price | calc_subtotal:item.quantity }}</p>
                                    </div>
                                    <!-- Quantity adjust form include -->
                                    <div class="col-12 col-sm-6">
                                        <p class="my-0 fw-bold">Adjust Quantity</p>
                                        {% include "trolley/includes/qty-form.html" %}
                                    </div>
                                </div>
                                <!-- Horizontal rule -->
                                <div class="row">
                                    <div class="col-10 offset-1">
                                        <hr>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Shopping trolley subtotal, delivery charge and final total include -->
                    <div class="col">
                        {% include "trolley/includes/trolley-total.html" %}
                    </div>
                </div>
                <!-- Shopping trolley btns include -->
                <div class="row">
                    <div class="col">
                        {% include "trolley/includes/checkout-btns.html" %}
                    </div>
                </div>

            </div>


            <!-- Bootstrap responsive table for medium and larger screen devices -->
            <div class="table-responsive rounded d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <!-- Table headings -->
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <!-- Django for loop, looping through the trolley_items list looking
                    for product info to display, include have been used to make the code
                    look cleaner and to make the trolley page better responsive on smaller devices -->
                    {% for item in trolley_items %}
                    <tr>
                        <!-- Product image from includes product-image.html -->
                        <td class="p-2 w-25">
                            {% include "trolley/includes/product-image.html" %}
                        </td>
                        <!-- Product name, sizes and SKU from includes product-info.html-->
                        <td class="py-3">
                            {% include "trolley/includes/product-info.html" %}
                        </td>
                        <!-- Product price -->
                        <td class="py-3">
                            <p class="my-0">£{{ item.product.product_price }}</p>
                        </td>
                        <!-- Product quantity form includes from qty-form.html -->
                        <td class="py-3 w-25">
                            {% include "trolley/includes/qty-form.html" %}
                        </td>
                        <!-- Trolley subtotal using the trolley_tools to help calculate the subtotal -->
                        <td class="py-3">
                            <p class="my-0">£{{ item.product.product_price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    <tr>
                        <!-- Horizontal rule -->
                        <td colspan="5">
                            <hr>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <!-- Trolley total from includes trolley.total.html -->
                        <td colspan="6" class="pt-4 text-end">
                            {% include "trolley/includes/trolley-total.html" %}
                        </td>
                    </tr>
                    <tr>
                        <!-- Trolley page buttons from includes checkout-btns.html -->
                        <td colspan="5" class="text-end">
                            {% include "trolley/includes/checkout-btns.html" %}
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <!-- If no items are in the shopping trolley then a message will display to the user
                    informing them of a empty shopping trolley and a button to go back to the products page -->
            <p class="fs-4 mt-2 mb-5 text-capitalize">your shopping trolley is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-secondary custom-bg rounded-0 btn-lg">
                <span class="icon"><i class="fas fa-arrow-left"></i></span>
                <span class="text-uppercase">continue shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}

<!-- This is for the increase and decrease quantity buttons -->
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_input_btn_script.html' %}

<script type="text/javascript">
    // This updates the trolley quantity on click
    $('.update-item').click(function (e) {
        let trolleyForm = $(this).prev('.update-qty-form');
        trolleyForm.submit();
    })

    // This removes an item and reload the page on click
    $('.remove-item').click(function (e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let size = $(this).data('clothing_sizes');
        let url = `/trolley/remove/${itemId}/`;
        let data = {
            'csrfmiddlewaretoken': csrfToken,
            'clothing_sizes': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}