{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- This is needed to push the content down under the navigation bar  -->
<div class="container top-head-container" id="top-head-con">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Main about us container -->
<div class="container about-con">
    <div class="row">
        <div class="col text-center">
            <!-- About us header with horizontal rule -->
            <h2 class="custom-font-head fw-bold text-uppercase text-spacing mt-5 mt-lg-4 mb-2">About Us</h2>
            <small class="text-muted">Full Disclaimer: This web application is for educational purpose only</small>
            <hr>
        </div>
    </div>
    <div class="row">
        <!-- About us info -->
        <div class="col mx-auto text-center text-spacing-1">
            <p>Established in 2021, we specialize in selling gym clothing for both men and women, gym supplements and
                gym memberships.</p>
            <p>We also have established our very own online gym community, where people can connect with others and ask
                questions</p>
        </div>
    </div>

    <div class="row mb-lg-3 p-3 p-lg-0">
        <div class="col-12 p-3 mb-3 mb-lg-0 text-center text-lg-start col-lg-6 p-lg-5 custom-bg-2 fs-5 text-spacing-1">
            <!-- Address -->
            <p class="p-0 py-lg-2 ps-lg-5"><strong>Address:</strong><br> St Albans, Hertfordshire, AL1 3LP</p>
            <!-- Contact number -->
            <p class="p-0 py-lg-2 ps-lg-5"><strong>Phone:</strong><br> 0123456789</p>
            <!-- Email address -->
            <p class="p-0 py-lg-2 ps-lg-5"><strong>Email:</strong><br> <a href="{% url 'contact' %}">info@urgym.com</p></a>
        </div>
        <!-- Embedded Google Maps -->
        <div class="col-12 col-lg-6 p-0 ps-lg-2">
            <div id="map"></div>
        </div>
    </div>
</div>
<!-- This is needed for the embedded google maps api to work, 
this links contains the api key which is hidden -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_api_key }}&callback=initMap&libraries=&v=weekly"
    async></script>
{% endblock %}