{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- This is needed to push the content down under the navigation bar  -->
<div class="container top-head-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Main contact us container -->
<div class="container checkout-con">
    <div class="row">
        <div class="col text-center">
            <!-- Contact us header with horizontal rule -->
            <h2 class="custom-font-head fw-bold text-uppercase text-spacing mt-5 mt-lg-4 mb-2">Contact Us</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}