<div class="col">
    <!-- Django if to check if the product count is greater than 0 -->
    {% if reviews.count > 0 %}
    <!-- Django for loop, iterating through the reviews model -->
    {% for review in reviews %}
    <div class="row">
        <!-- Product review main info container -->
        <div class="review-info-con col-12 col-lg-8 offset-lg-2 px-5 px-lg-0">
            <!-- Product review info -->
            <div class="row my-3">
                <!-- Left info col -->
                <div class="col-12 col-lg-6 tex-center text-lg-start custom-bg-2 px-4 py-3">
                    <p class="m-0"><strong>Left by:</strong> {{ review.user.username }}</p>

                    <p class="m-0"><strong>Rating:</strong>
                    {% if review.review_rating == 5 %}
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i> {{ review.review_rating }} / 5
                    {% elif review.review_rating == 4 %}
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i> {{ review.review_rating }} / 5
                    {% elif review.review_rating == 3 %}
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i> {{ review.review_rating }} / 5
                    {% elif review.review_rating == 2 %}
                    <i class="fas fa-star mr-1"></i>
                    <i class="fas fa-star mr-1"></i> {{ review.review_rating }} / 5
                    {% elif review.review_rating == 1 %}
                    <i class="fas fa-star mr-1"></i> {{ review.review_rating }} / 5
                    {% else %}
                    <small class="text-muted">No Rating</small>
                    {% endif %}
                </p>
                    <p class="m-0"><strong>Date:</strong> {{ review.date_created }}</p>
                    <p class="m-0"><strong>Time:</strong> {{ review.time_created }}</p>
                </div>
                <!-- Right info col -->
                <div class="col-12 col-lg-6 tex-center text-lg-start border border-outline py-3">
                    <p class="m-0"><strong>{{ review.review_title }}</strong></p>
                    <p class="m-0">{{ review.review_message }}</p>
                </div>
            </div>

            <!-- Django if to check if the user logged in is the user that left the review
            and if it is they will be able to edit and delete there review -->
            {% if request.user == review.user %}
            <div class="row">
                <div class="col text-center">
                    <!-- Edit and delete buttons for user who left the review -->
                    <a href="{% url 'edit_review' product.id review.id %}"
                        class="edit-review btn btn-sm px-3 rounded-0 btn-secondary">Edit</a>
                    <a href="{% url 'delete_review' product.id review.id %}"
                        class="delete-review btn btn-sm rounded-0 btn-secondary">Delete</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <hr class="w-50 mx-auto">
    {% endfor %}
    {% else %}
    <!-- No review message -->
    <p>There are no reviews for this product.</p>
    {% endif %}
</div>