{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Profile page stylesheet -->
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<!-- This is needed to push the content down under the navigation bar  -->
<div class="container top-head-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Main profile container -->
<div class="container profile-con">
    <div class="row">
        <div class="col text-center">
            <!-- Profile header with horizontal rule -->
            <h2 class="custom-font-head fw-bold text-uppercase text-spacing mt-5 my-lg-4">My Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <!-- Personal info -->
        <div class="col-12 col-lg-6">
            <!-- Personal info heading -->
            <p class="text-muted">Personal Information</p>
            <!-- Personal info form using crispy forms -->
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <!-- Update info btn -->
                <button class="btn btn-dark custom-bg rounded-0 text-uppercase
                d-flex mx-auto">Update Information</button>
            </form>
        </div>
        <!-- Order history -->
        <div class="col-12 col-lg-6">
            <!-- order history heading -->
            <p class="text-muted">Order History</p>
            {{ orders }}
        </div>
    </div>
</div>
{% endblock %}

<!-- This post load js block is for the country dropdown
select and not selected colour -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}