{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<!-- This is needed to push the content down under the navigation bar -->
<div class="container top-head-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <!-- Main checkout container -->
    <div class="container checkout-complete-con">
        <div class="row">
            <div class="col">
                <!-- Checkout complete heading -->
                <h2 class="custom-font-head fw-bold text-center text-uppercase text-spacing mt-5 my-lg-4 mb-4">Thank You For Your Purchase</h2>
                <hr>
                <!-- Checkout complete message to user -->
                <p class="text-center">Your order information is below. A confirmation email will 
                    be sent to <strong>{{ order.email_address }}</strong>.</p>
            </div>
        </div>
        <!-- Order summary -->
        <div class="row">
            <div class="col-12">
                <!-- Order summary heading -->
                <h4 class="custom-font-head fw-bold text-center text-uppercase text-spacing my-3">Order Summary</h4>
                <hr class="order-hr w-25 mx-auto">
            </div>
        </div>
        <!-- Continue shopping and account button -->
        <div class="row mt-5">
			<div class="col-12 text-center">
                <!-- This will take the user back to the all product page -->
				<a href="{% url 'products' %}" class="btn btn-secondary custom-bg rounded-0 my-2">
					<span class="icon"><i class="fas fa-arrow-left"></i></span>
					<span class="text-uppercase">Continue Shopping</span>
				</a>
                <!-- This will take the user to there account page -->
				<a href="#" class="btn btn-secondary custom-bg rounded-0 my-2">
					<span class="icon"><i class="fas fa-user"></i></span>
					<span class="text-uppercase">View Account</span>
				</a>
			</div>
		</div>
    </div>
{% endblock %}