{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- This is needed to push the content down under the navigation bar -->
<div class="container top-head-container" id="top-head-con">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Edit a question container -->
<div class="container">
    <div class="row">
        <!-- Edit a question page heading -->
        <div class="col text-center mt-5 mt-lg-4">
            <h2 class="custom-font-head fw-bold text-uppercase ts-4 mt-5 my-lg-4">Edit A Question</h2>
            <hr class="w-50 mx-auto">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            <!-- Edit a question form -->
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <!-- Question Crispy form -->
                    <div class="col-12">
                        {{ form | crispy }}
                    </div>
                </div>

                <!-- Form submit button -->
                <div class="text-center float-lg-end">
                    <a href="{% url 'community' %}" class="btn btn-outline-dark rounded-0">Go Back</a>
                    <input type="submit" class="btn btn-dark custom-bg rounded-0"
                        value="Update Question">
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}