{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- This is needed to push the content down under the navigation bar -->
<div class="container top-head-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- View a question container -->
<div class="container">
    <div class="row">
        <!-- View a question page heading -->
        <div class="col text-center mt-5 mt-lg-4">
            <h2 class="custom-font-head fw-bold text-uppercase text-spacing mt-5 mt-lg-4">{{ question.question_title }}</h2>
            <hr class="w-50 mx-auto">
        </div>
    </div>
    <!-- View question info -->
    <div class="row">
        <!-- Username -->
        <div class="col-12 col-md-4 text-muted text-center text-lg-end d-none d-md-block"><strong>Asked by:</strong><br> {{ question.user }}</div>
        <div class="col-12 col-md-4 text-muted text-center text-lg-end d-block d-md-none"><strong>Asked by:</strong> {{ question.user }}</div>
        <!-- Date -->
        <div class="col-12 col-md-4 text-muted text-center text-lg-center my-2 my-md-0 d-none d-md-block"><strong>Date:</strong><br> {{ question.date_created }}</div>
        <div class="col-12 col-md-4 text-muted text-center text-lg-center my-2 my-md-0 d-block d-md-none"><strong>Date:</strong> {{ question.date_created }}</div>
        <!-- Time -->
        <div class="col-12 col-md-4 text-muted text-center text-lg-start d-none d-md-block"><strong>Time:</strong><br> {{ question.time_created }}</div>
        <div class="col-12 col-md-4 text-muted text-center text-lg-start d-block d-md-none"><strong>Time:</strong> {{ question.time_created }}</div>
        <hr class="w-50 mx-auto my-3">
    </div>
    <!-- View question info -->
    <div class="row">
        <div class="col">
            <div class="text-center fs-4 text-spacing-1"><p>{{ question.question_message }}</p></div>
        </div>
    </div>
</div>
{% endblock %}