{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- This is needed to push the content down under the navigation bar -->
<div class="container top-head-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- View a question container -->
<div class="container">
    <div class="row">
        <!-- View a question page heading -->
        <div class="col text-center mt-5 mt-lg-4">
            <h2 class="custom-font-head fw-bold text-uppercase text-spacing mt-3 mt-lg-4">{{ question.question_title }}
            </h2>
            <hr class="w-50 mx-auto">
        </div>
    </div>
    <!-- View question info -->
    <div class="row">
        <!-- Username -->
        <div class="col-12 col-md-3 text-muted text-center text-lg-end d-none d-md-block"><strong>Asked by:</strong><br>
            {{ question.user }}</div>
        <div class="col-12 col-md-3 text-muted text-center text-lg-end d-block d-md-none"><strong>Asked by:</strong>
            {{ question.user }}</div>

        <!-- Date -->
        <div class="col-12 col-md-3 text-muted text-center text-lg-center my-2 my-md-0 d-none d-md-block">
            <strong>Date:</strong><br> {{ question.date_created }}</div>
        <div class="col-12 col-md-3 text-muted text-center text-lg-center my-2 my-md-0 d-block d-md-none">
            <strong>Date:</strong> {{ question.date_created }}</div>

        <!-- Time -->
        <div class="col-12 col-md-3 text-muted text-center text-lg-center mb-2 d-none d-md-block"><strong>Time:</strong><br>
            {{ question.time_created }}</div>
        <div class="col-12 col-md-3 text-muted text-center text-lg-center mb-2 d-block d-md-none"><strong>Time:</strong>
            {{ question.time_created }}</div>

        <!-- Answers -->
        <div class="col-12 col-md-3 text-muted text-center text-lg-start d-none d-md-block">
            <strong>Answers:</strong><br>
            {{ answers.count }}</div>
        <div class="col-12 col-md-3 text-muted text-center text-lg-start d-block d-md-none"><strong>Answers:</strong>
            {{ answers.count }}</div>

        <!-- if the  user logged in is the user that asked the question, then that user will
        be able to edit and delete there question -->
        {% if request.user == question.user %}
        <div class="row mt-3 mx-auto">
            <div class="col text-center">
                <!-- Edit and delete buttons for user who have asked a question -->
                <a href="{% url 'edit_question' question.id %}"
                    class="edit-question btn btn-sm px-3 rounded-0 btn-secondary">Edit</a>
                <a href="{% url 'delete_question' question.id %}"
                    class="delete-question btn btn-sm rounded-0 btn-secondary">Delete</a>
            </div>
        </div>
        {% endif %}

        <hr class="w-50 mx-auto my-3">
    </div>
    <!-- View question info -->
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            <div class="text-center fs-5 text-spacing-1">
                <p>{{ question.question_message }}</p>
            </div>
        </div>
    </div>
    <!-- Answers to questions -->
    <div class="answer-container">
        <div class="row text-center">
            <!-- Answer heading with answer count -->
            <h3 class="custom-font-head text-uppercase fw-bold product-head mt-lg-5 mb-2">Answers ({{answers.count}})</h3>
            <!-- Answer include from includes dir -->
            {% include "community/includes/answers.html" %}
            <!-- Add answer form include from includes dir -->
            {% include "community/includes/add_answer.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- This is to remove the class called is-invalid from the answer message textarea
which was causing validation to show up all the time, even when the form was not filled in -->
<script type="text/javascript">
    $(document).ready(function () {
        $('.answer-form-fields').removeClass('is-invalid');
        $("#id_answer_message").attr({"row" : 3});
    });
</script>
{% include 'products/includes/qty_input_btn_script.html' %}
{% endblock %}