/* Global CSS */
html {
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #000000;
    height: calc(100vh - 164px);
}

.custom-font-head {
    font-family: 'Poiret One', sans-serif;
}

.black-text {
    color: #000000 !important;
}

.white-text {
    color: #ffffff !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

/* base.html */
.main-heading {
    background-color: #595959;
}

.contact-about-nav {
    background-color: #e6e6e6;
}

.contact-about-nav a {
    font-size: 12px;
    letter-spacing: 1px;
}

.site-logo {
    letter-spacing: 10px;
    font-weight: bold;
}

.nav-link {
    font-weight: bold;
    padding: 10px;
}

.dropdown-menu {
    background-color: #e6e6e6;
}

.dropdown-item {
    letter-spacing: 2px;
    font-weight: bold;
}

/* Mobile Navigation */
.navbar-icon {
    font-size: 30px;
}

/* Stops box shadow around 
mobile toggle btn */
.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.mobile-nav-head {
    letter-spacing: 4px;
}