/* This media query has been added
for the top header container located
in index.html */
@media (min-width: 992px) {
    .top-head-container {
        padding-top: 200px;
    }

}

/* This media query has been added
for the top header container located
in index.html */
@media (max-width: 991px) {
    /* Header container in index.html */
    .top-head-container {
        padding-top: 190px;
    }

    .carousel img {
        height: calc(94vh - 190px);
        object-fit: cover;
    }
}

/* Large Smartphones */
@media (max-width: 425px) {
    /* Main Nav */
    .nav-link {
        font-size: 16px;
    }
    
    /* Main Footer */
    .main-footer {
        font-size: 14px;
    }

    /*Back To Top Button*/
    #back-to-top-btn {
        bottom: 125px;
        right: 5px;
    }

    /* Header container in index.html */
    .top-head-container {
        padding-top: 182px;
    }

    /* Carousel captions */
    .carousel-caption {
        bottom: 15rem;
    }
}

/* Medium Smartphones */
@media (max-width: 375px) {
    .nav-link {
        padding: 6px;
        font-size: 14px;
    }

    /* Mobile Toggler */
    .navbar-icon {
    font-size: 26px;
    }

    /*Back To Top Button*/
    #back-to-top-btn {
        bottom: 120px;
        right: 5px;
    }

    /* Header container in index.html */
    .top-head-container {
        padding-top: 167px;
    }
    
}

/* Small Smartphones */
@media (max-width: 320px) {
    .nav-link {
        padding: 0px, 4px;
        font-size: 13px;
    }

    /* Mobile Toggler */
    .navbar-toggler {
        padding: 4px 8px;
    }

    .navbar-icon {
    font-size: 24px;
    }

    /*Back To Top Button*/
    #back-to-top-btn {
        bottom: 115px;
        right: 5px;
    }

    /* Header container in index.html */
    .top-head-container {
        padding-top: 162px;
    }
}