/* Large Smartphones */
@media (max-width: 425px) {
    /* Main Nav */
    .nav-link {
        font-size: 16px;
    }
    
    /* Main Footer */
    .main-footer {
        font-size: 14px;
    }

    /*Back To Top Button*/
    #back-to-top-btn {
        bottom: 125px;
        right: 5px;
    }
}

/* Medium Smartphones */
@media (max-width: 375px) {
    .nav-link {
        padding: 6px;
        font-size: 14px;
    }

    /* Mobile Toggler */
    .navbar-icon {
    font-size: 26px;
    }

    /*Back To Top Button*/
    #back-to-top-btn {
        bottom: 120px;
        right: 5px;
    }
    
}

/* Small Smartphones */
@media (max-width: 320px) {
    .nav-link {
        padding: 0px, 4px;
        font-size: 13px;
    }

    /* Mobile Toggler */
    .navbar-toggler {
        padding: 4px 8px;
    }

    .navbar-icon {
    font-size: 24px;
    }

    /*Back To Top Button*/
    #back-to-top-btn {
        bottom: 115px;
        right: 5px;
    }
}