<!-- This block of code is for the main product navigation as well as the collapsible mobile navigation -->
<div class="collapse navbar-collapse text-center justify-content-lg-end" id="product-nav">
    <ul class="navbar-nav">
        <!-- Products dropdown list navigation -->
        <li class="nav-item dropdown mobile-nav-head pt-1" onclick="changeProductIcon()">
            <a class="white-text text-decoration-none text-uppercase fw-bold nav-link" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products <i class="fas fa-angle-down" id="dropdownProductIcon"></i></a>
            <div class="dropdown-menu border-0 rounded-0 mt-0 text-center" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=product_price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=product_rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
            </div>
        </li>

        <!-- Clothing dropdown list navigation -->
        <li class="nav-item dropdown mobile-nav-head pt-1" onclick="changeClothingIcon()">
            <a class="white-text text-decoration-none text-uppercase fw-bold nav-link" href="#" id="clothing-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clothing <i class="fas fa-angle-down" id="dropdownClothingIcon"></i></a>
            <div class="dropdown-menu border-0 rounded-0 mt-0 text-center" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=t_shirts,vest,hoodies,tops,joggers" class="dropdown-item">All Clothing</a>
                <a href="{% url 'products' %}?category=t_shirts" class="dropdown-item ">T-Shirts</a>
                <a href="{% url 'products' %}?category=vests" class="dropdown-item ">Vests</a>
                <a href="{% url 'products' %}?category=hoodies" class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=tops" class="dropdown-item">Tops</a>
                <a href="{% url 'products' %}?category=joggers" class="dropdown-item ">Joggers</a>
            </div>
        </li>

        <!-- Supplements dropdown list navigation -->
        <li class="nav-item dropdown mobile-nav-head pt-1" onclick="changeSupplementIcon()">
            <a class="white-text text-decoration-none text-uppercase fw-bold nav-link" href="#" id="supplements-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Supplements <i class="fas fa-angle-down" id="dropdownSupplementIcon"></i></a>
            <div class="dropdown-menu border-0 rounded-0 mt-0 text-center" aria-labelledby="supplements-link">
                <a href="{% url 'products' %}?category=powders,vitamins,snacks" class="dropdown-item">All Supplements</a>
                <a href="{% url 'products' %}?category=powders" class="dropdown-item">Powders</a>
                <a href="{% url 'products' %}?category=vitamins" class="dropdown-item ">Vitamins</a>
                <a href="{% url 'products' %}?category=snacks" class="dropdown-item ">Snacks</a>
            </div>
        </li>

        <!-- Membership navigation link -->
        <li class="nav-item mobile-nav-head pt-1">
            <a class="white-text text-decoration-none text-uppercase fw-bold nav-link" href="{% url 'products' %}?category=memberships">Memberships</a>
        </li>
    </ul>
</div>

{% block postloadjs %}
<script type="text/javascript">
    function changeProductIcon(){
        let icon = document.getElementById("dropdownProductIcon")
        icon.classList.toggle("fa-angle-up");
    }

    function changeClothingIcon(){
        let icon = document.getElementById("dropdownClothingIcon")
        icon.classList.toggle("fa-angle-up");
    }

    function changeSupplementIcon(){
        let icon = document.getElementById("dropdownSupplementIcon")
        icon.classList.toggle("fa-angle-up");
    }
</script>
{% endblock %}