<!-- This block of code is for the main product navigation as well as the collapsible mobile nav -->
<div class="collapse navbar-collapse text-center" id="product-nav">
    <ul class="navbar-nav">
        <li class="nav-item dropdown mobile-nav-head pt-1">
            <a class="white-text text-decoration-none text-uppercase fw-bold" href="#" id="all-products-link" 
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            
        </li>
    </ul>
</div>