{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Google Font Link For Font Nunito -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!-- Google Font Link For Font Poiret One -->
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <!-- Project Base CSS and Responsive CSS File Link -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Fontawesome Icons Kit JS -->
    <script src="https://kit.fontawesome.com/993516308f.js" crossorigin="anonymous"></script>
    <!-- JQuery v3.6.0 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>UR-GYM {% block extra_title %}{% endblock %}</title>
    <!--This is for the favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon-logo.png' %}" />
</head>

<body>
    <!-- This block of code is for the main header for all pages -->
    <header class="container-fluid fixed-top main-heading shadow-lg">
        <div id="header-nav" class="row d-none d-lg-flex">
            <!-- This block of code is for the site logo which is also a home anchor link -->
            <div class="col-12 col-lg-4 text-center text-lg-start my-auto py-1 py-lg-4">
                <a href="{% url 'home' %}" class="nav-link">
                    <h1 class="white-text my-0 custom-font-head text-uppercase site-logo">ur-gym</h1>
                </a>
            </div>
            <!-- This block of code is for the user product search -->
            <div class="col-12 col-lg-4 mx-auto my-auto py-1 py-lg-4">
                <form method="GET" action="">
                    <div class="input-group w-100">
                        <input class="form-control border border-white rounded-0" type="text" name="search"
                            placeholder="Search for a product">
                        <div class="input-group-icon">
                            <button class="form-control btn btn-white border border-white rounded-0" type="submit">
                                <span class="icon white-text"><i class="fas fa-search"></i></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- This block of code is for the top header links -->
            <div class="col-12 col-lg-4 my-auto">
                <ul class="nav custom-font-head text-uppercase justify-content-center justify-content-lg-end">
                    <ul class="list-inline list-unstyled my-0"></ul>
                    <!-- Account dropdown-->
                    <li class="list-inline-item dropdown mx-0">
                        <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg white-text"></i></div>
                                <p class="my-0 white-text">Account</p>
                            </div>
                        </a>
                        <!-- This block of code is the dropdown menu for my user account options -->
                        <div class="dropdown-menu border-0 text-center rounded-0" 
                        aria-labelledby="account-options">
                            <!-- Django if statement checking if the user is authenticated, meaning logged in and
                            will display the appropriate account links. Also another Django if statement checking 
                            to see if the logged in user is a super user meaning an admin and will display the 
                            appropriate account links. -->
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            {% endif %}
                            <a href="#" class="dropdown-item">Contact</a>
                        </div>
                    </li>

                    <!-- Community navigation link to message board -->
                    <li class="list-inline-item mx-0">
                        <a class="white-text nav-link" href="#">
                            <div class="text-center">
                                <div><i class="fas fa-users fa-lg"></i></div>
                                <p class="my-0">Community</p>
                            </div>
                        </a>
                    </li>

                    <!-- Shopping trolley icon, trolley price and link to the trolley page -->
                    <li class="list-inline-item">
                        <a class="{% if final_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                            href="#">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-cart fa-lg white-text"></i></div>
                                <p class="my-0 white-text">
                                    {% if final_total %}
                                    ${{ final_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- This block of code is for the smaller screen device top header -->
        <div class="row custom-font-head">
            <!-- Website logo -->
            <a class="navbar-brand text-center white-text my-0 custom-font-head 
            text-uppercase site-logo d-block d-lg-none fs-1" href="{% url 'home' %}">ur-gym</a>

            <!-- This block of code is for the user product search -->
            <div class="col-12 col-lg-4 mx-auto my-auto py-1 py-lg-4 d-block d-lg-none">
                <form method="GET" action="">
                    <div class="input-group w-75 mx-auto">
                        <input class="form-control border border-white rounded-0 fw-bold" type="text" name="search"
                            placeholder="Search for a product">
                        <div class="input-group-icon">
                            <button class="form-control btn btn-white border border-white rounded-0" type="submit">
                                <span class="icon white-text"><i class="fas fa-search"></i></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- This include is for my mobile top header for smaller screen sizes -->
            {% include 'includes/mobile-header-nav.html' %}
            
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

</body>

</html>