.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #b1b1b1;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0px 0px 1px 2px #838383;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #acacac;
}

/* This is for the spinner overlay, for
when a payment is being processed */
#spinner-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(134, 134, 134, 0.85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}
