{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- This is needed to push the content down under the navigation bar  -->
<div class="container top-head-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container add-product-main-con">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 text-center">
                <hr>
                <h2 class="custom-font-head fw-bold text-uppercase text-spacing mt-5 my-lg-4">Admin - Product Management</h2>
                <h5 class="text-muted">Adding New Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <!-- enctype is used for submitting and image file -->
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-end">
                        <a class="btn btn-outline-dark rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-dark custom-bg rounded-0" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}