{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- This is needed to push the content down under the navigation bar  -->
<div class="container top-head-container" id="top-head-con">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <!-- Editing a product main container -->
    <div class="container edit-product-main-con">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 text-center">
                <!-- Admin page headings -->
                <h2 class="custom-font-head fw-bold text-uppercase ts-4 mt-5 my-lg-4">Admin - Editing A Product</h2>
                <hr>
            </div>
        </div>
        <!-- Add new product form using crispy forms -->
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <!-- enctype is used for submitting and image file -->
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <!-- Django if statement to render crispy field if field name
                        has no product image -->
                        {% if field.name != 'product_image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <!-- Cancel form btn and adding product btn -->
                    <div class="d-block text-center text-lg-end">
                        <a class="btn btn-outline-dark rounded-0" href="{% url 'products' %}">Go Back</a>
                        <button class="btn btn-dark custom-bg rounded-0" type="submit">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

<!-- This block of code will notify the admin about the image will be changed to,
this will show under the input element that has been styled to look like a button -->
{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // Listening for for the change event on the span btn input
        $('#new-image').change(function() {
            // Getting the new file name
            var file = $('#new-image')[0].files[0];
            // Setting the new filename to the widget template
            $('#filename').text(`Your new image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}