<!-- Trolley buttons, one btn to continue shopping and the second btn to proceed
to the checkout page -->

<!-- Continue shopping btn -->
<a href="{% url 'products' %}" class="btn btn-secondary custom-bg rounded-0 mt-2 mt-md-0">
    <span class="icon">
        <i class="fas fa-arrow-left"></i>
    </span>
    <span class="text-uppercase">continue shopping</span>
</a>
<!-- Checkout btn -->
<a href="{% url 'checkout' %}" class="btn btn-outline-dark rounded-0 mt-3 mt-md-0 mb-3 mb-md-0">
    <span class="text-uppercase">Secure Checkout</span>
    <span class="icon">
        <i class="fas fa-lock"></i>
    </span>
</a>