<!-- Trolley total, delivery cost and free delivery warning -->
<h6 class="fw-bold ts-1">Trolley Total: £{{ total|floatformat:2 }}</h6>
<!-- Delivery cost if statement check if delivery equals zero, to then display free delivery
else to display the delivery cost -->
{% if free_delivery == 0 %}
<h6 class="ts-1">Free Delivery</h6>
{% else %}
<h6 class="ts-1">Delivery Charge: £{{ delivery|floatformat:2 }}</h6>
{% endif %}
<!-- Final total the full amount to be paid -->
<h4 class=" mt-0 mt-md-3 fw-bold ts-1">Final Total: £{{ final_total|floatformat:2 }}</h4>
{% if free_delivery > 0 %}
<!-- Free delivery warning if user are spending less than £50 -->
<p class="my-2 text-danger ts-1">
    Spend <strong>£{{ free_delivery }}</strong> more, to qualify for free delivery
</p>
{% endif %}